.container {
    display: flex;
    background-color: rgb(77, 77, 77);
    border-radius: 15px;
    height: 80vh;
    margin: 5vh 5vw;
    justify-content: center;
    gap: 15vw;
    align-items: center;
    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.desc {
    text-align: center;
    color: aqua;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
    background-color: black;
    font-size: 30px;
    border: 2px solid transparent;
    font-family: monospace;
    color: white;
    border-radius: 10px;
    transition-duration: 0.3s;
    outline: 2px solid blue;
    text-decoration: none;
    text-align: center;

}

.btn:hover {
    border: 2px solid aqua;

}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}