div.title {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 1vh;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 20vh;
    gap: 5vh;
    align-items: center;
    height: 80vh;
    background-color: rgb(77, 77, 77);
    border-radius: 15px;
    margin: 1vh 5vw;
}

