nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding: 20px 55px;
    border-radius: 0 0 13px 13px / 0 0 15px 15px;
}

ul.list {
    display: flex;
    gap: 15px;
}

.title {
    display: flex;
    gap: 15px;
    text-decoration: none;
}

.text {
    font-size: 30px;
    color: white;
}

img.logo {
    height: 40px;
    border-radius: 100%;
}

.nav-btn {
    width: 100px;
    height: 30px;
    background-color: rgb(68, 10, 76);
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: inherit;
    transition-duration: 300ms;
}
.nav-btn:hover {
    font-weight: bold;
}